Welcome!

<ul>
  <li><%= link_to 'Login as Admin', new_user_session_path %></li>
  <li><%= link_to 'Login as Donor', 'donors/sign_in' %></li>
</ul>

<ul>
  <li><%= link_to 'New Admin', new_user_registration_path %></li>
  <li><%= link_to 'New Donor', new_registration_path %></li>
</ul>